body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: Cal Sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  /* add missing declaration */
}

body{
    background-color: #f1fcff;
}

.header {
  height: 600px;
  width: 100%;
  background-image: url(./Images/Ocean.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  /* add missing declarations */
}

.title{
    font-size: 130px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: black 5px 10px 50px;
    text-align: center;
}

.header__banner {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 15px;
  color: white;
  text-transform: uppercase;
  margin: 20px auto 0;
}

/* add a CSS rule for the header title here */

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 15%;
  
  gap: 20px;
  /* add missing declarations */
}

.card{
    height: auto;
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(198, 198, 198);
    padding-bottom: 50px;
    margin-bottom: 30px;
    box-sizing: content-box;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

.no-right-margin{
  margin-right: 0;
}

.card-image{
    background-color: #d95ad8;
    background-position: cover;
    background-size: cover 50%;
    height: 200px;
    width: 100%;
}

.card-title{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.card-text{
    font-size: 19px;
    margin: 0px 20px auto;
}

.footer{
  text-align: center;
  margin: 50px;
}


/* add CSS rules for cards and their content here */

/* add CSS rules for the footer and its content here */
